<button (click)="loadSong()">Load Song</button>
@let songState=(songState$ | async);

@if (!songState?.section) {
  <button (click)="play(SongSection.VERSE, true)">Start with Verse</button>
  <button (click)="play(SongSection.CHORUS, true)">Start with Chorus</button>
} @else {

  @for (section of availableSections; track section) {
    <button (click)="play(section)">{{ section }}</button>
  }
  <button (click)="stop()">Stop</button>
}

<p>
  Section playing: {{ songState?.section || 'None' }}
</p>
<p>
  Next section: {{ songState?.nextSection || 'None' }}
</p>
<p>
  Particle playing: {{ songState?.particle || 'None' }}
</p>
<p>
  Next Particle: {{ songState?.nextParticle || 'None' }}
</p>
