@let songState=(songState$ | async);

<div class="card">
  <div class="button-section">
    @if (songState === null) {
      <button (click)="loadSong()">Load Song</button>
    } @else {
      @if (!songState?.section) {
        <button mat-fab (click)="play(SongSection.VERSE, true)" class="verse">
          Start with Verse
        </button>
        <button mat-fab (click)="play(SongSection.CHORUS, true)" class="chorus">
          Start with Chorus
        </button>
      } @else {
      
        @for (section of availableSections; track section) {
          <button mat-fab class="queue-section-button {{section}}" (click)="play(section)">{{ section }}</button>
        }
        <!-- <button mat-fab (click)="stop()">Stop</button> -->
      }
    }
  </div>
<div class="separator"></div>
  <div class="info-section">
    <div class="playing">
      <h2>Playing</h2>
      {{ songState?.section || 'None' }}
    </div>
    <mat-icon class="arrow" aria-hidden="false" fontIcon="arrow_right_alt"></mat-icon>
    <div class="playing-next">
      <h2>Next</h2>
      {{ songState?.nextSection || 'None' }}
    </div>
  </div>
</div>