
.queue-section-button {
    margin: 10px;

    .verse {
        color: blue;
    }

    .chorus {
        color: yellow;
    }

    .bridge {
        color: green;
    }
    .outro {
        color: red;
    }
}