
.queue-section-button {
    margin: 10px;
    color: black;
}
    button {
    &.verse {
        background-color: blue;
    }

    &.chorus {
        background-color: yellow;
    }

    &.bridge {
        background-color: green;
    }
    &.outro {
        background-color: red;
    }
}