@let songState=(songState$ | async);

@if (songState === null) {
  <button (click)="loadSong()">Load Song</button>
} @else {
  @if (!songState?.section) {
    <button mat-fab aria-label="Example icon button with a delete icon" (click)="play(SongSection.VERSE, true)">Start with Verse</button>
    <button mat-fab (click)="play(SongSection.CHORUS, true)">Start with Chorus</button>
  } @else {
  
    @for (section of availableSections; track section) {
      <button mat-fab class="queue-section-button {{section}}" (click)="play(section)">{{ section }}</button>
    }
    <button mat-fab (click)="stop()">Stop</button>
  }
}


<p>
  Section playing: {{ songState?.section || 'None' }}
</p>
<p>
  Next section: {{ songState?.nextSection || 'None' }}
</p>
<p>
  Particle playing: {{ songState?.particle || 'None' }}
</p>
<p>
  Next Particle: {{ songState?.nextParticle || 'None' }}
</p>
